form {
  --input-radius: #{rem-calc(10)};
}

input[type='password'] {
  padding: rem-calc(8) rem-calc(24);
  border: none;
  background: var(--primary-input-color);
  border-radius: var(--input-radius);
  font-size: rem-calc(28);
  line-height: 1.2;
}

.fieldset__checkboxes {
  @include flex-column(reverse);
}

.legend {
  margin-top: 0.5em;
}

.checkboxes {
  @include flex-row($wrap: wrap);
}

.checkboxes--center {
  justify-content: center;
}

// Custom checkboxes
.checkbox {
  --target-size: #{rem-calc(44)};
  --checkbox-font: 1.3rem;

  display: grid;
  min-width: var(--target-size);
  min-height: var(--target-size);
  padding: rem-calc(3) 0;
  margin: rem-calc(3);
  background: var(--primary-input-color);
  border-radius: var(--input-radius);
  cursor: pointer;
  font-size: var(--checkbox-font);
  grid-template-areas: 'checkbox';
  place-items: center;
  transition: all 0.2s ease-in-out;
  @include grid-rows(1);

  &.checked {
    background: var(--primary-input-color-dark);
    color: var(--primary-input-color);

    input:focus + span {
      outline: 2px solid var(--primary-input-color, currentColor);
    }
  }

  > * {
    cursor: pointer;
    grid-area: checkbox;
    text-align: center;
  }

  // Hide the default input
  input {
    width: 1em;
    height: 1em;
    opacity: 0;
  }

  input:focus + span {
    outline: 2px solid var(--text-color, currentColor);
  }
}

@media (min-width: 768px) {
  .checkbox {
    --target-size: #{rem-calc(30)};
    --checkbox-font: 1rem;

    &:hover,
    &:focus {
      background: var(--primary-input-color-dark);
      color: var(--primary-input-color);
    }
  }
}
